<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar With Bootstrap</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    {%load static%}
    <link rel="stylesheet" href="{% static 'bootstrap/css/home.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/navbar.css'%}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'trabajadores:Home'%}">Analítica</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             
            </li>
        </ul>
        </ul>
    </nav>
    
<section class="contenedor ">

    <div class="wrapper">
        <aside id="sidebar"  class="overflow-auto">
            
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <img src="{% static 'bootstrap/img/menu.png' %}" alt="Protection Icon" style="width: 25px; height: 25px;">
                </button>
            </div>
            <ul class="sidebar-nav">
             

             
              
            
              
                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:lista_registros'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Registros</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:versionwindows_list'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Versiones de Windows</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:version_office_list'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Versiones de Office</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:procesador_list'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Procesadores</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:disco_list'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Disco</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'trabajadores:estado_list'%}" class="sidebar-link">
                        <img src="{% static 'bootstrap/img/usuario.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        <span>Estados</span>
                    </a>
                </li>
             
         
               
                

                
             
    
                
   

     
               
            
         
            </ul>
            <div class="sidebar-footer">
                <a href="{% url 'trabajadores:cierre_sesion'%}" class="sidebar-link">
                    <i><img src="{% static 'bootstrap/img/cerrar-sesion-icon.png' %}" alt="Protection Icon" style="    margin-left: -5px; width: 20px; height: 20px;"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        {% block contenido%}


        
    
        {% endblock contenido%}
    </div>
        <script src="{% static 'bootstrap/js/home.js'%}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    </section>
</body>

</html>